// Small banner Styles
.small-commerical {
    background-image: url('/images/cartBG.jpg');
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #AC1F28;
    animation: fromTop 1s;
    h2 {
        color: #ffffffa5;
        font-family: "Underdog", system-ui;
        font-size: 40px;
    }
}

// Cart styles
.cart {
    min-height: 50vh;
    table {
        height: 70px;
        box-shadow: 0 0 3px 1px #AC1F28;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        overflow: hidden;
        animation: fromTop 1s;
        .cart-headers {
            height: 40px;
            background-color: #AC1F28;
            color: #fff;
            font-family: "Reggae One", system-ui;
            animation-delay: 1s;
            animation: fromTop 1s;
        }
        .cart-item {
            height: 70px;
            box-shadow: 0 0 3px 1px #190b02;
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            color: #fff;
            font-family: "Underdog", system-ui;
            font-size: 20px;
            animation-delay: 1s;
            animation: fromBottom 1s;
            img {
                width: 80px;
            }
            .quantity-button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                background-color: #AC1F28;
                color: #fff;
                font-size: 17px;
                cursor: pointer;
            }
            span {
                font-family: "Underdog", system-ui;
                margin-inline: 5px;
                font-size: 25px;
            }
        }
    }
}
