<nav>
    <div class="restaurant-logo" routerLink="">
        <img src="images/onlinerestaurantLogo.png" alt="onlinerestaurantLogo">
        <h1><span>Golden</span>Wok</h1>
    </div>

    <ul>
        @if (this.cookies.check("userLogedIn")) {
            <li routerLinkActive="active-page" routerLink="userpage" class="user-page">{{userFirstName}} <img [src]="avatar" alt="{{userFirstName}}`s avatar"></li>
        }
        @else {
            <li routerLink="login" routerLinkActive="active-page">Log in <i class="fa-solid fa-circle-user"></i></li>
        }

        <li routerLinkActive="active-page" routerLink="/order">Order <i class="fa-solid fa-bowl-food"></i></li>
        @if (this.cookies.check("userLogedIn")) {
            <li routerLinkActive="active-page" routerLink="/cart">Cart <span>{{itemsInCart}}</span></li>
        }
        <button><i class="fa-solid fa-phone" style="color: #ffffff;"></i></button>
    </ul>
</nav>
