<section class="welcome-section">
    <img src="/images/decoration2.png" alt="decoration" class="decoration1">
    <div class="left">
        <article>
            <h4>Explore Asia On Your Plate</h4>
            <p>Discover the true taste of Asia with every order from our online restaurant. Our dishes are crafted using authentic recipes and fresh ingredients, delivering bold flavors and unforgettable aromas. Whether you’re craving something spicy, savory, or sweet, our food promises a delicious journey that brings the heart of Asia to your table.</p>
            <button routerLink="order">Order now !</button>
        </article>
    </div>
    <div class="right">
        <div class="discount-tag">
            <h1>50% OFF</h1>
        </div>
        <img src="/images/bestseller.png" alt="">
        <h6>Customers favourite!</h6>
        <h3>Penang shrimp</h3>
    </div>
</section>
